[FORMAT]

# Use tab size of 2
indent-string='  '
indent-after-paren=4


[MESSAGES CONTROL]

# [List] http://pylint-messages.wikidot.com/all-codes
disable=blacklisted-name,invalid-name,
        too-few-public-methods,no-self-use,
        wrong-import-position,
        line-too-long,
        bad-continuation,
        fixme
