[FORMAT]

# Use tab size of 2
indent-string='  '
indent-after-paren=4


[MESSAGES CONTROL]

# [List] http://pylint-messages.wikidot.com/all-codes
disable=blacklisted-name,
        invalid-name,
        too-few-public-methods,
        missing-function-docstring,
        wrong-import-position,
        import-outside-toplevel,
        line-too-long,
        consider-using-f-string,
        c-extension-no-member,
        fixme
