[FORMAT]

# Use tab size of 2
indent-string='  '
indent-after-paren=4


[MESSAGES CONTROL]

# [List] http://pylint-messages.wikidot.com/all-codes
disable=blacklisted-name,
        invalid-name,
        too-few-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        too-many-branches,
        unnecessary-lambda-assignment,
        missing-function-docstring,
        wrong-import-position,
        wrong-import-order,
        import-outside-toplevel,
        line-too-long,
        consider-using-f-string,
        c-extension-no-member,
        no-else-break,
        no-else-continue,
        no-else-raise,
        no-else-return,
        forgotten-debug-statement,
        use-dict-literal,
        fixme
